body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.first-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    width: 400px;
    height: auto;
    height: 400px;
    max-height: 300px;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

a, .para {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    font-weight: bolder;
}

.header, .main-header {
    color: #f9faf8;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.main-header {
    font-size: 48px;
    font-weight: 900;
}

.box1, .box2 {
    display: flex;
    gap: 20px;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border: 3px solid firebrick
}

.text-img {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

.box2 {
    justify-content: unset;
    gap: 48px;
}



@media (max-width: 907px) {
    .box1, .box2 {
        flex-direction: column;
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .text-img {
        width: 90%;
        text-align: center;
    }

    .button-book {
        margin: 0 auto;
    }

    img {
        width: 100%;
    }
}
